*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #c33124;
  --secondary: #a1dffb;
  --tertiary: #f98365;
  --partial: #e8a628;
  --link: #f9de59;
}

body {
  background: linear-gradient(
      rgba(249, 131, 101, 0.486),
      rgba(161, 222, 251, 0.678)
    ),
    url(/img/Main-bg.jpg);
  font-size: 17px;
  font-family: "Redressed", cursive;

  background-attachment: fixed;

  /* background-repeat: no-repeat; */
}
::selection {
  background-color: #e8a628;
  color: black;
}

h1 {
  font-size: 1.7rem;
}
h2 {
  font-size: 1.4rem;
}
.hval {
  color: var(--secondary);
  background-color: var(--tertiary);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgb(53, 53, 53);
  font-size: 1.3rem;
  margin-top: 1.2rem;
  font-family: "Fredoka One", cursive;
}
.container {
  padding: 2em;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* align-items: center; */
  margin: auto;
}
.art-cover {
  width: 100%;
  border-radius: 1em 1em 0 0;
}

p {
  color: rgb(83, 78, 78);
}

.em_text {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.card {
  border-radius: 1em;
  overflow: hidden;
  padding: 0.5em;
  background: linear-gradient(rgb(249, 131, 101), rgb(161, 223, 251));
  box-shadow: 0px 0.5em 0.5em rgb(94, 92, 92);
}
.card:hover img {
  transform: translate(2px, 5px);
  transition: linear 1s;
}
.card h2 {
  text-align: center;
  font-family: "Fredoka One", cursive;
  font-size: 1.2em;
}
/* H2 link */
.card h2 a {
  text-decoration: none;
  color: var(--primary);
}
.card h2 a:hover {
  text-decoration: underline;
  color: var(--partial);
}
/* end of H2 link */
.card p {
  padding: 1em;
  text-align: center;
  font-size: 0.9em;
  font-family: "Indie Flower", cursive;
  /* font-family: "Redressed", cursive; */
}

.details {
  display: flex;
  justify-content: space-around;
}
/* ARTICLE */
.art_container {
  width: 90%;
  margin: auto;
}
.heading {
  background-image: linear-gradient(to left, var(--secondary), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  padding: 1rem 0 1rem 0;
  font-family: "Fredoka One", cursive;
}
.chat {
  display: flex;
  flex-direction: column;
  font-family: "Indie Flower", cursive;
  font-family: "Redressed", cursive;
}
.art-cover-1 {
  width: 100%;
}
.card p {
  font-family: "Indie Flower", cursive;
}

.self {
  align-self: flex-end;
  justify-self: center;
  background-color: #e8a628;
  color: whitesmoke;
  border-radius: 50%;
  padding: 0.2rem;
}

.the_voice {
  align-self: flex-start;
  justify-self: left;
  background-color: #f98365;
  color: whitesmoke;
  border-radius: 50%;
  padding: 0.2rem;
}

.chat_bubble {
  margin: 0.3em 0 0.3em 0;
  padding: 0.5rem;
  max-width: 85%;
  box-shadow: 0rem 2px 5px rgba(0, 0, 0, 0.2);
}
.voice {
  background: linear-gradient(
    to right,
    rgba(249, 131, 101, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem 1rem 1rem 0;
  align-self: flex-start;
}
.me {
  background: linear-gradient(
    to right,
    rgba(249, 222, 89, 0.5),
    rgb(232, 166, 40, 0.5)
  );
  border-radius: 1rem 1rem 0 1rem;
  align-self: flex-end;
  color: white;
}

/* FOOTER */
.footer_1 {
  padding: 2em 0;
  text-align: center;
  font-family: "Fredoka One", cursive;
  font-size: 10px;
}
