*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #c33124;
  --secondary: #a1dffb;
  --tertiary: #f98365;
  --partial: #e8a628;
  --link: #f9de59;
}

body {
  background: linear-gradient(
      rgba(249, 131, 101, 0.486),
      rgba(161, 222, 251, 0.678)
    ),
    url(/img/Main-bg.jpg);
  font-size: 15px;
  font-family: "Redressed", cursive;

  background-attachment: fixed;
  scroll-behavior: smooth;
  /* background-repeat: no-repeat; */
}
::selection {
  background-color: #e8a628;
  color: black;
  overflow-x: hidden;
}

h1 {
  font-size: 1.7rem;
}
h2 {
  font-size: 1.4rem;
}

.hval {
  color: var(--secondary);
  background-color: var(--tertiary);
  padding: 0.7rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(53, 53, 53);
  font-size: 1.3rem;
  margin-top: 1.2rem;
  font-family: "Fredoka One", cursive;
}
.hval,
.heading {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #e8a628 0%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  from {
    background-position: 200% center;
  }
}
.container {
  padding: 2em;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* align-items: center; */
  margin: auto;
}
.art-cover {
  width: 100%;
  border-radius: 1em 1em 0 0;
}

p {
  color: rgb(83, 78, 78);
}

.em_text {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.card {
  border-radius: 1em;
  overflow: hidden;
  padding: 0.5em;
  background: linear-gradient(rgb(249, 131, 101), rgb(161, 223, 251));
  box-shadow: 0px 0.5em 0.5em rgb(94, 92, 92);
  filter: drop-shadow(0 0 0.65rem var(--secondary));
  min-height: 50vh;
}
.card:hover img {
  transform: scale(0.9);
  transition: linear 0.5s;
}
.card h2 {
  text-align: center;
  font-family: "Fredoka One", cursive;
  font-size: 1.2em;
  padding: 1rem 0;
}
/* H2 link */
.card h2 a {
  text-decoration: none;
  color: var(--primary);
}
.card h2 a:hover {
  text-decoration: underline;
  color: var(--partial);
  transition: linear 0.5s;
}
/* end of H2 link */
.card p {
  padding: 1em;
  text-align: center;
  font-size: 0.9em;
  font-family: "Indie Flower", cursive;
  /* font-family: "Redressed", cursive; */
}

.details {
  display: flex;
  justify-content: space-around;
}
/* ARTICLE */
.art_container {
  width: 90%;
  margin: auto;
}
.heading {
  padding: 1rem 0 1rem 0;
  font-family: "Fredoka One", cursive;
}
.heading-2 {
  text-transform: capitalize;
  color: #f9de59;
  /* color: white; */
  text-align: center;
  padding: 1.5rem 0;
  font-family: "Fredoka One", cursive;
  filter: drop-shadow(0 0 0.5rem black);
}
.chat {
  display: flex;
  flex-direction: column;

  font-family: "El Messiri", sans-serif;
}

.quote a {
  background-color: rgb(228, 227, 227);
  padding: 0.3rem;
  /* margin-left: 1rem; */
  color: #f98365;
  border-radius: 0.5rem;
  display: block;
  border-left: 0.5rem solid #f9de59;
  text-decoration: none;
}
.art-cover-1 {
  width: 100%;
}
.card p {
  font-family: "Indie Flower", cursive;
}

.chat_bubble {
  margin: 0.3em 0 0.3em 0;
  padding: 0.5rem;
  max-width: 85%;
  box-shadow: 0rem 2px 5px rgba(0, 0, 0, 0.2);
}
.voice {
  background: linear-gradient(
    to right,
    rgba(249, 131, 101, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem 1rem 1rem 0;
  align-self: flex-start;
}
.me {
  background: linear-gradient(
    to right,
    rgba(249, 222, 89, 0.5),
    rgb(232, 166, 40, 0.5)
  );
  border-radius: 1rem 1rem 0 1rem;
  align-self: flex-end;
  color: white;
}

/* FOOTER */
.footer_1 {
  padding: 2em 0;
  text-align: center;
  font-family: "Fredoka One", cursive;
  font-size: 10px;
}

/* media queries */
@media screen and (min-width: 720px) {
  .art_container {
    width: 60%;
  }
}
